.newDeck {
    display: flex;
    flex-direction: column;
    background-color: transparent !important;
}

label {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
}

label > #text {
    padding: 10px !important;
}
.navigation {
    display: flex;
    background-color: gray !important;
   
    align-items: center;
}

.MuiSvgIcon-root {
    font-size: medium;
    
}

::placeholder {
    padding-left: 10px;
}



textarea {
    height: 100px;
    border-radius: 5px;
}