.createDeck {
    background-color: gray !important;
    font-weight: 600 !important;
    margin-bottom: 15px;
}

.deckButtons  {
    display: flex;
    flex: 1;
    padding: 15px;
    flex-direction: row;
}

.deckButtons > button {
    margin: 5px;
}

.deck {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 20px;
    max-width: 600px;
    
}

.deckText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.deckDescription {
    padding: 15px;
}